@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    font-family : "Roboto Condensed", sans-serif;
}

html, body {
    height: 100%;
    background-color: #073b4c;
    overflow: hidden;
    font-size: 26px;
}

h1 {
    font-weight: bold;
    color: white;
    padding: 10px 0 10px 0;
}

#words {
    height: 135px;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.word-area {
    height: 200px;
    border-radius: 7px;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.calculation {
    display: flex;
    color: black;
}

.calculation p {
    font-size: 16px;
    margin-right: 30px;
    border-right: 2px solid rgb(112, 112, 112);
    padding-right: 20px;
}

.btn-custom {
    background-color: #06d6a0;
}


.bold {
    font-weight: bold;
}

.green {
    color: #06d6a0;
}

.red {
    color: #ef476f;
}

.box-timer {
    background-color: #ef476f;
    padding: 10px 20px;
    position: relative;
    z-index: 2;
    color: white;
}